/*!
**  Author: Kale Chao | FakeCityMan
**  Blog: kalechao87@github.io
**/
@import "normalize-reset", "compass/css3";

/*
 * Remove the gap between images and the bottom of their containers
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

img {
    vertical-align: middle;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
* Hide visually and from screenreaders, but maintain layout
*/

.invisible {
   visibility: hidden;
}

/**
 * Clearfix helper
 * Used to contain floats: http://nicolasgallagher.com/micro-clearfix-hack/
 */

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
 Author's custom styles
 ========================================================================== */
 *,
 *:after,
 *:before {
    @include box-sizing(border-box);
    // -webkit-user-select:none;
    // -webkit-touch-callout:none;
 }

html, body {
    overflow: hidden;
    height: 100%;
}

/* ==========================================================================
 定义变量
 ========================================================================== */
$main-bgcolor: #fafafa;
$main-color: #000;
$main-red: #e73202;

/* ==========================================================================
定义变量结束
========================================================================== */

body {
    font-family: 'Avenir Next', 'Helvetica Neue', 'Lato', 'Segoe UI', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: $main-bgcolor;
    color: $main-color;
    overflow: hidden;
    font: {
        size: 24px;
    }
}


.ab-element {
    position: absolute;
}

.block-img {
    display: block;
    max-width: 100%;
}

.ab-img {
    position: absolute;
}

.ab-block-img {
    display: block;
    position: absolute;
    max-width: 100%;
}

.hvcenter {
    position: absolute;
    top: 50%;
    left: 50%;
    @include transform(translate3d(-50%, -50%, 0));
}

.hcenter {
    position: absolute;
    left: 50%;
    @include transform(translate3d(-50%, 0, 0));
}

.vcenter {
    position: absolute;
    top: 50%;
    @include transform(translate3d(0, -50%, 0));
}

.container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    @include background-size(cover);
    overflow: hidden;
}

.scrolly-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: scroll; /* has to be scroll, not auto */
    -webkit-overflow-scrolling: touch;
}

#common-bg {
    background-image: url('../images/common-bg.jpg');
}

/*=================misc start=======================*/
// misc sprite 设置
$misc-layout:smart;
$misc-spacing:10px;
$misc-sprite-dimensions: true;
@import "misc/*.png";
@include  all-misc-sprites;

#arrow-up {
    position: absolute;
    bottom: 0;
    left: 50%;
    @include transform(translate3d(-50%, 0, 0));
}

// music=======================================================================
#music-control {
    position: absolute;
    top: 0;
    right: 0;

    width: 58px;
    height: 58px;
    margin: 24px;
}

#music-control-main {
    position: absolute;
    @extend .misc-music-bg;
}

.music-control-icon {
    position: absolute;
    @extend .misc-music-icon;
    top: 50%;
    left: 50%;
    @include transform(translate3d(-50%, -50%, 0));
}
// music=======================================================================

#music-control, #arrow-up {
    visibility: hidden;
}

#loading-num {
    position: absolute;
    top: 45%;;
    width: 100%;
    z-index: 999;
    text: {
        align: center;
    }
    font: {
        size: 56px;
    }
    color: #ec9710;
}

/*=================cover start=======================*/
// cover sprite 设置
$cover-layout:smart;
$cover-spacing:10px;
$cover-sprite-dimensions: true;
@import "cover/*.png";
@include  all-cover-sprites;

#cover-road {
    bottom: 29px;
    left: 0;
}

#cover-person {
    bottom: -90px;
    left: 33px;
}

#cover-logo {
    top: 83px;
    left: 98px;
}

#cover-slogan {
    top: 68px;
    right: 0;
}

#page2-bg {
    top: 28px;
    left: 0;
    $page2-bg: '../images/page2-bg.png';
    width: image-width($page2-bg);
    height: image-height($page2-bg);
    background-image: url($page2-bg);
}

#item1 {
    top: 0;
    right: 0;
    $item1: '../images/item1.png';
    width: image-width($item1);
    height: image-height($item1);
    background-image: url($item1);
}

#item2 {
    right: 0;
    bottom: 0;
    $item2: '../images/item2.png';
    width: image-width($item2);
    height: image-height($item2);
    background-image: url($item2);
}

#page3-bg {
    top: 0;
    left: 0;
    $page3-bg: '../images/page3-bg.png';
    width: image-width($page3-bg);
    height: image-height($page3-bg);
    background-image: url($page3-bg);
}

#item3 {
    top: 0;
    right: 0;
    $item3: '../images/item3.png';
    width: image-width($item3);
    height: image-height($item3);
    background-image: url($item3);
}

#item4 {
    right: 0;
    bottom: 0;
    $item4: '../images/item4.png';
    width: image-width($item4);
    height: image-height($item4);
    background-image: url($item4);
}

#page4-bg {
    top: 0;
    left: 0;
    $page4-bg: '../images/page4-bg.png';
    width: image-width($page4-bg);
    height: image-height($page4-bg);
    background-image: url($page4-bg);
}

#item5 {
    top: 0;
    right: 0;
    $item5: '../images/item5.png';
    width: image-width($item5);
    height: image-height($item5);
    background-image: url($item5);
}

#item6 {
    right: 0;
    bottom: 0;
    $item6: '../images/item6.png';
    width: image-width($item6);
    height: image-height($item6);
    background-image: url($item6);
}

#page5-bg {
    top: 29px;
    left: 0;
    $page5-bg: '../images/page5-bg.png';
    width: image-width($page5-bg);
    height: image-height($page5-bg);
    background-image: url($page5-bg);
}

#item7 {
    top: 98px;
    right: 0;
    $item7: '../images/item7.png';
    width: image-width($item7);
    height: image-height($item7);
    background-image: url($item7);
}

#qrcode {
    bottom: 116px;
    left: 89px;
}

#fake-qrcode {
    width: 100%;
    bottom: 0;
    @include opacity(0);
}

#qr-des {
    bottom: 169px;
    left: 342px;
    $qrdes: '../images/qr-des.png';
    width: image-width($qrdes);
    height: image-height($qrdes);
    background-image: url($qrdes);
}


#cover, #page2, #page3, #page4, #page5 {
    display: none;
}
